._container {
    margin:2rem auto;
    width:70%;
    padding:3rem;
    background-color:$color-primary-dark-opacity;
    border-radius:1rem;
    @media only screen and (max-width:1024px) {
        width:auto;
        padding:1rem;
        font-size:2rem;
    }
}

body {
    margin: 0 !important;
    background-color:$color-primary !important;
    color:$color-white !important;

}

.error {
    background-color:$color-warning !important;
    color:$color-primary-dark !important;
    &:hover {
        filter:brightness(0.8);
        color:$color-white !important;
    }
}
.warning {
    background-color:$color-warning !important;
    color:$color-primary-dark !important;
    &:hover {
        filter:brightness(0.9);
    }
}

.success {
    background-color:$color-success !important;
    color:$color-primary-dark !important;
    &:hover {
        filter:brightness(0.9);
    }
}

._link {
    text-decoration:none;
    color:$color-white;
    &:hover {
        color:$color-secondary-light;
    }
}

._mt-5 {
    margin-top:5px;
}
._mt-15 {
    margin-top:15px;
}
._link_btn {
    padding:0.4rem 1rem;
    text-decoration:none;
    color:$color-white;
    text-transform:uppercase;
    text-align:center;
    @include border-radius;
    border:1px solid $color-primary;
    align-self:flex-end;
    font-weight:700;
    &:hover {
        background-color:$color-secondary;
        cursor:pointer;

    }
}

hr {
    width:80%;
    opacity:50%;

}

._mobile_input, textarea {
    @media only screen and (max-width:1024px) {
        font-size:3rem !important;
        padding:3rem 0.3rem !important;
        height:20rem !important;

    }

}


input, input[type="tel"],textarea {
    background-color:$color-primary-dark !important;
    color:$color-secondary-light !important;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border-style:none;
    border:1px solid $color-primary;
}

select {
    background-color:$color-primary-dark !important;
    color:$color-secondary !important;
    padding:1rem 0.5rem;
    border-radius: 5px;
    border-style:none;
    border:1px solid $color-primary;
}

._shadow {
    box-shadow: 0px 0px 37px 12px rgba(0,0,0,0.66);
}
