$color-primary:#08090d;

$color-primary-dark:#0d0e11;
$color-primary-dark-opacity:#08090d99;
$color-secondary:#d64e10;
$color-secondary-light:#c49c7f;
$color-secondary-dark:#35373c;
$color-white:#EEE;


