{% extends 'base.html' %}
{% load static %}

{% block title %} | Food list {% endblock title%}
{% block content %}
<form action="" method="POST">
    {% csrf_token %}
    <div class="Xcardview_list">
        <div class="Xcardview Xcardview__long">
        <img src="{{object.food.food_pictures.url}}" alt="" class="Xcardview__sm_image">
        <div class="Xcardview__container">
            <div class="Xcardview__title"><a href="" class="Xlink">{{object.food}}</a></div>
            <div class="Xcardview__body">{{object.description}}</div>
            <div class="Xcardview__footer">{{object.quantity}} DB | {{object.total_price}} FT</div>
            <button type="submit" class="Xlink_btn error Xmt-5" data-bs-toggle="modal" data-bs-target="#showDetails{{food.pk}}">Remove</button>
        </div>
        </div>
    </div>
</form>
{% endblock content %}