._cardview_list {
    display:flex;
    flex-wrap:wrap;
    margin:0 auto;
    width:100%;
    justify-content: center;


}


._cardview {
    width:44%;

    @media only screen and (max-width:1024px) {
        width:100%;
    }

    &__long {
        width:auto;
    }

    padding: 1rem;
    margin-right:5px;
//     border-bottom:1px solid $color-white;
//     border-top: 1px solid $color-white;
    display:flex;
    background-color:$color-primary-dark;
    border-radius:1rem;

    &__sm_image {

        max-width:40%;
        min-width:40%;
        width:auto;
        object-fit:cover;


    }

    &__container {
        display:flex;
        flex-direction:column;
        padding-left:1rem;
        flex:1;

    }

    &__title {
        width:100%;
        color:$color-white;
    }

    &__body {
        color:$color-secondary-light;
        flex:1;
    }
    &__footer {
        width:max-content;

    }
}