{% extends 'management_base.html' %}

{% block content %}
<div class="_cardview_list" >
{% for item in object_list%}
    <div class="_cardview _mt-5">
        <img src="{{item.food_pictures.url}}" alt="{{item.food}} pictures" class="_cardview__sm_image">
        <div class="_cardview__container ">
            <div class="_cardview__title"><b><a href="{% url 'management:management_food_update' pk=item.pk %}" class="_link">{{item.food_code|upper}}: </b>{{item.food_name|upper}}</a></div>
            <div class=" _mt-5">{{item.food_price}} FT</div>
            <div class="_cardview__body _mt-5 ">{{item.food_description | truncatewords:10}}</div>
        </div>
    </div>
{% endfor %}
</div>
{% endblock content %}