._container {
  margin: 2rem auto;
  width: 70%;
  padding: 3rem;
  background-color: #08090d99;
  border-radius: 1rem; }
  @media only screen and (max-width: 1024px) {
    ._container {
      width: auto;
      padding: 1rem;
      font-size: 2rem; } }

body {
  margin: 0 !important;
  background-color: #08090d !important;
  color: #EEE !important; }

.error {
  background-color: #ff7b00 !important;
  color: #0d0e11 !important; }
  .error:hover {
    filter: brightness(0.8);
    color: #EEE !important; }

.warning {
  background-color: #ff7b00 !important;
  color: #0d0e11 !important; }
  .warning:hover {
    filter: brightness(0.9); }

.success {
  background-color: #00CC00 !important;
  color: #0d0e11 !important; }
  .success:hover {
    filter: brightness(0.9); }

._link {
  text-decoration: none;
  color: #EEE; }
  ._link:hover {
    color: #c49c7f; }

._padding-1 {
  padding: 1rem !important; }

._mt-5 {
  margin-top: 5px; }

._mt-15 {
  margin-top: 15px; }

._link_btn {
  padding: 0.4rem 1rem;
  text-decoration: none;
  color: #EEE;
  text-transform: uppercase;
  text-align: center;
  border-radius: 4px;
  border: 1px solid #08090d;
  align-self: flex-end;
  font-weight: 700; }
  ._link_btn:hover {
    background-color: #d64e10;
    cursor: pointer; }

hr {
  width: 80%;
  opacity: 50%; }

@media only screen and (max-width: 1024px) {
  ._mobile_input, textarea {
    font-size: 3rem !important;
    padding: 3rem 0.3rem !important;
    height: 20rem !important; } }

input, input[type="tel"], textarea {
  background-color: #0d0e11 !important;
  color: #c49c7f !important;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border-style: none;
  border: 1px solid #08090d; }

select {
  background-color: #0d0e11 !important;
  color: #d64e10 !important;
  padding: 1rem 0.5rem;
  border-radius: 5px;
  border-style: none;
  border: 1px solid #08090d; }

._shadow {
  box-shadow: 0px 0px 37px 12px rgba(0, 0, 0, 0.66); }

._cardview_list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 100%;
  justify-content: center; }

._cardview {
  width: 44%;
  overflow: hidden;
  padding: 1rem;
  margin-right: 5px;
  display: flex;
  background-color: #0d0e11;
  border-radius: 4px; }
  @media only screen and (max-width: 1024px) {
    ._cardview {
      width: 100%;
      padding: 0; } }
  ._cardview__long {
    width: 100%; }
  ._cardview__sm_image {
    display: inline;
    max-width: 40%;
    min-width: 40%;
    width: auto;
    object-fit: cover; }
  ._cardview__container {
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    padding-right: 1rem;
    flex: 1; }
  ._cardview__title {
    width: 100%;
    color: #EEE; }
  ._cardview__body {
    color: #c49c7f;
    flex: 1; }

._detail_cardview {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #0d0e11;
  border-radius: 4px;
  overflow: hidden; }
  ._detail_cardview_image {
    display: inline;
    margin-bottom: 1rem;
    width: 100%;
    object-fit: cover; }

._navbar {
  margin: 0 auto;
  padding: 0.4rem;
  background-color: #08090d99;
  z-index: 100;
  position: fixed;
  width: 100%;
  height: 4rem;
  top: 0;
  left: 0; }
  @media only screen and (max-width: 1024px) {
    ._navbar {
      height: auto;
      font-size: 2rem;
      position: relative; } }
  ._navbar ul {
    display: flex;
    flex-direction: row; }
  ._navbar__items {
    list-style: none; }
  ._navbar__links {
    text-decoration: none;
    text-transform: uppercase;
    padding: 0.5rem 1rem;
    color: #EEE;
    display: block; }
    ._navbar__links:hover {
      transform: scale(1.1);
      color: #d64e10;
      border-bottom: 3px solid #d64e10; }

._modal {
  background-color: #08090d !important;
  color: #EEE !important; }
  @media only screen and (max-width: 1024px) {
    ._modal {
      font-size: 3rem !important; }
      ._modal button {
        height: 10rem;
        text-decoration: uppercase;
        font-size: 3rem;
        padding: 2rem; }
      ._modal input {
        height: 10rem;
        font-size: 4rem; } }

._header {
  height: 100vh;
  background-image: url("img/design/bg.png");
  background-size: cover;
  color: #EEE !important;
  background-position: center;
  display: flex; }
  ._header_text_box {
    align-self: center;
    display: flex;
    flex-direction: column; }
  ._header_text_main {
    margin-left: 2rem;
    font-size: 3rem;
    font-weight: 500;
    text-transform: uppercase; }
  ._header_text_sub {
    margin-left: 2rem;
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 15px; }

@keyframes moveFromLeft {
  0% {
    filter: blur(5px);
    transform: translateX(-1000px); }
  70% {
    filter: blur(4px);
    transform: translateX(200px); }
  100% {
    filter: blur(0);
    transform: translateX(0); } }

._landing_menu {
  padding: 5rem;
  background-color: #c49c7f;
  display: flex;
  flex-direction: row; }
  @media only screen and (max-width: 1024px) {
    ._landing_menu {
      padding: 1rem; } }
  ._landing_menu_container {
    display: flex;
    flex-direction: column;
    margin: 0 auto; }
  ._landing_menu_icon {
    width: 10rem;
    height: 10rem;
    align-self: center; }
    ._landing_menu_icon:hover {
      transform: scale(1.12);
      cursor: pointer; }
  ._landing_menu_title {
    align-self: center;
    text-transform: uppercase;
    color: #08090d;
    font-size: 1.4rem; }

.inform {
  width: auto;
  padding: 1rem;
  text-align: center;
  border-radius: 4px; }

._footer {
  background-color: #0d0e11;
  padding: 4rem;
  display: flex;
  flex-direction: column; }
  ._footer ul {
    display: flex;
    flex-direction: row;
    align-self: center; }
  ._footer_img {
    height: 12rem;
    width: 12rem;
    display: block;
    margin: 0 auto; }
  ._footer_item {
    align-self: center;
    text-align: center;
    list-style: none;
    margin: 0 auto; }
  ._footer_link {
    text-decoration: none;
    color: #35373c;
    padding: 0.5rem 1rem;
    background-color: #c49c7f;
    border-radius: 4px;
    font-size: 0.8rem;
    margin-right: 0.7rem;
    text-transform: uppercase; }
    ._footer_link:hover {
      color: #c49c7f;
      background-color: #35373c; }
  ._footer_info {
    color: #d64e10;
    border-top: 0.7px solid #EEE;
    align-self: center;
    text-align: center;
    text-transform: uppercase;
    padding: 1rem; }

._img_view {
  object-fit: cover;
  margin: 0 auto;
  width: 50%;
  transform: translateX(50%); }

._numberInput {
  width: 100%;
  padding: 1rem;
  color: #EEE;
  background-color: #0d0e11;
  border-radius: 0.2rem; }
  ._numberInput input[type="number" i] {
    padding: 0.3rem !important;
    width: 1rem !important;
    height: 1rem !important; }

._form {
  width: 100%;
  display: flex;
  flex-direction: column; }
  @media only screen and (max-width: 1024px) {
    ._form {
      font-size: 1.5rem; }
      ._form input, ._form textarea {
        font-size: 2rem !important; } }
  ._form input[type=file]::file-selector-button {
    border-radius: 4px;
    background-color: #08090d;
    color: #EEE;
    border-style: none;
    padding: 1rem 2rem; }
  ._form input[type="checkbox"] {
    width: 2rem;
    height: 2rem; }
    ._form input[type="checkbox"]::before {
      content: '';
      background: #d64e10 !important; }
  ._form input[type="datetime-local"]::-webkit-calendar-picker-indicator {
    filter: invert(1); }
