._container {
  margin: 2rem auto;
  width: 70%;
  padding: 3rem;
  background-color: #08090d99;
  border-radius: 1rem; }
  @media only screen and (max-width: 1024px) {
    ._container {
      width: auto;
      padding: 1rem;
      font-size: 2rem; } }

body {
  margin: 0 !important;
  background-color: #08090d !important;
  color: #EEE !important; }

.error {
  background-color: red !important;
  color: #0d0e11 !important; }
  .error:hover {
    filter: brightness(0.8);
    color: #EEE !important; }

.warning {
  background-color: yellow !important;
  color: #0d0e11 !important; }
  .warning:hover {
    filter: brightness(0.9); }

._link {
  text-decoration: none;
  color: #EEE; }

._mt-5 {
  margin-top: 5px; }

._mt-15 {
  margin-top: 15px; }

._link_btn {
  padding: 0.4rem 1rem;
  text-decoration: none;
  color: #EEE;
  text-transform: uppercase;
  text-align: center;
  border-radius: 4px;
  border: 1px solid #08090d;
  align-self: flex-end; }
  ._link_btn:hover {
    background-color: #d64e10;
    cursor: pointer; }

input, input[type="tel"], textarea {
  background-color: #0d0e11 !important;
  color: #d64e10 !important;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border-style: none;
  border: 1px solid #08090d; }

select {
  background-color: #0d0e11 !important;
  color: #d64e10 !important;
  padding: 1rem 0.5rem;
  border-radius: 5px;
  border-style: none;
  border: 1px solid #08090d; }

._shadow {
  box-shadow: 0px 0px 37px 12px rgba(0, 0, 0, 0.66); }

._cardview_list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 100%;
  justify-content: space-between; }

._cardview {
  width: 49%;
  padding: 1rem;
  display: flex;
  background-color: #0d0e11;
  border-radius: 1rem; }
  @media only screen and (max-width: 1024px) {
    ._cardview {
      width: 100%; } }
  ._cardview__long {
    width: 100%; }
  ._cardview__sm_image {
    max-width: 40%;
    min-width: 40%;
    width: auto;
    object-fit: cover; }
  ._cardview__container {
    display: flex;
    flex-direction: column;
    padding-left: 1rem; }
  ._cardview__title {
    width: 100%;
    color: #EEE; }
  ._cardview__body {
    color: #c49c7f; }
  ._cardview__footer {
    width: max-content; }

._navbar {
  margin: 0 auto;
  padding: 0.4rem;
  background-color: #08090d99;
  z-index: 100;
  position: fixed;
  width: 100%;
  height: 4rem;
  top: 0;
  left: 0; }
  @media only screen and (max-width: 1024px) {
    ._navbar {
      height: auto;
      font-size: 2rem;
      position: relative; } }
  ._navbar ul {
    display: flex;
    flex-direction: row; }
  ._navbar__items {
    list-style: none; }
  ._navbar__links {
    text-decoration: none;
    text-transform: uppercase;
    padding: 0.5rem 1rem;
    color: #EEE;
    display: block; }
    ._navbar__links:hover {
      transform: scale(1.1);
      color: #d64e10;
      border-bottom: 3px solid #d64e10; }

._modal {
  background-color: #08090d !important;
  color: #EEE !important; }

._header {
  height: 100vh;
  background-image: url("img/design/bg.png");
  background-size: cover;
  color: #EEE !important;
  background-position: center;
  display: flex; }
  ._header_text_box {
    align-self: center;
    display: flex;
    flex-direction: column;
    animation-name: moveFromLeft;
    animation-duration: 3s;
    animation-delay: 5s; }
  ._header_text_main {
    margin-left: 2rem;
    font-size: 3rem;
    font-weight: 500;
    text-transform: uppercase; }
  ._header_text_sub {
    margin-left: 2rem;
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 15px; }

@keyframes moveFromLeft {
  0% {
    filter: blur(5px);
    transform: translateX(-1000px); }
  70% {
    filter: blur(4px);
    transform: translateX(200px); }
  100% {
    filter: blur(0);
    transform: translateX(0); } }

._landing_menu {
  padding: 5rem;
  background-color: #c49c7f;
  display: flex;
  flex-direction: row; }
  @media only screen and (max-width: 1024px) {
    ._landing_menu {
      padding: 1rem; } }
  ._landing_menu_container {
    display: flex;
    flex-direction: column;
    margin: 0 auto; }
  ._landing_menu_icon {
    width: 10rem;
    height: 10rem;
    align-self: center; }
    ._landing_menu_icon:hover {
      transform: scale(1.12);
      cursor: pointer; }
  ._landing_menu_title {
    align-self: center;
    text-transform: uppercase;
    color: #08090d;
    font-size: 1.4rem; }

.inform {
  width: 100%;
  padding: 1rem;
  text-align: center;
  border-radius: 4px; }

._footer {
  height: 20rem;
  background-color: #0d0e11;
  padding: 4rem; }

.XnumberInput {
  width: 100%;
  padding: 1rem;
  color: #EEE;
  background-color: #0d0e11;
  border-radius: 0.2rem; }
  .XnumberInput input[type="number" i] {
    padding: 0.3rem !important;
    width: 1rem !important;
    height: 1rem !important; }

.Xform {
  width: 100%;
  display: flex;
  flex-direction: column; }
