<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Food Orders {% block title%}{% endblock title%}</title>
    <link rel="stylesheet" href="/static/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">


    {% block script %}{% endblock script%}
</head>
<body>
{% include 'navbar.html' %}
<div class="_landing_menu">
    <div class="_landing_menu_container">
        <a href="{% url 'food:this_type_foods_view' '#2' %}"><img src="/static/img/design/pizza_icon.png" alt="pizza_menu_ico" class="_landing_menu_icon"></a>
        <span class="_landing_menu_title">Pizza</span>
    </div>
    <div class="_landing_menu_container">
        <a href="{% url 'food:this_type_foods_view' '#1' %}"><img src="/static/img/design/burger_icon.png" alt="burger_menu_ico" class="_landing_menu_icon"></a>
        <span class="_landing_menu_title">Hamburger</span>
    </div>
    <div class="_landing_menu_container">
        <a href="{% url 'food:this_type_foods_view' '#3' %}"><img src="/static/img/design/meal_icon.png" alt="other_meal_menu_ico" class="_landing_menu_icon"></a>
        <span class="_landing_menu_title">Other</span>
    </div>
</div>

<div class="_container">{% block content %}{% endblock content %}</div>

<header class="_header">
    <div class="_header_text_box">
        <span class="_header_text_main">Food Order and management orders</span>
        <span class="_header_text_sub">HyBase promo products</span>
    </div>
</header>


<footer class="_footer">
    <img src="/static/img/design/logo.png" class="_footer_img" alt="business logo">
    <div class="_footer_info">
        Dear. Open in every day 08am to 23pm. Order time is every day 08am to 22pm.<br>Contact tel number: +36/123-45-67
    </div>
    <ul>
        <li class="_footer_item"><a href="" class="_footer_link">Contact</a></li>
        <li class="_footer_item"><a href="mailto: hybase@outlook.hu" class="_footer_link">hybase@outlook.hu</a></li>
    </ul>
</footer>

</body>

</html>